<!--HTML page view -->

<h1>Private OpenStreetMap remove PII and Export Changeset</h1>
<p></p>
<p>Please Click to Export</p>
<%= button_to 'Export', button_path, method: :get %>
<p></p>
<pre><p><%= @formstring %></p></pre>


